*{margin: 0; padding : 0;}
body{width: 1200px;
margin: auto;
background-color: rgb(37, 34, 34)}


header {
	width: 1100px;
	height: 250px;
	background-color:#2F4F4F;
	color: white;
	background: url('bg.png');
	align-items: center;
		
}

.judul{
	font-size: 45pt;
	font-family: 'Kaushan Script', cursive;
}

 .nav {
	width: 1083px;
	height: 25px;
	background-color: black;
	padding: 10px;
}
 .nav li{
	list-style: none;
	float: left; 
	margin-right:15px;
	margin-top: 5px;
	color: #fff;
	font-family: sans-serif;
}
 .nav li a{
	text-decoration: none;
	color: #F0F8FF;
	font-family: sans-serif;
}
 .nav li a:hover {
	color: rgb(107, 18, 25);
}

.artikel{
	width: 1100px;
	overflow: hidden;
	background-color: white;
	font-family: sans-serif;
}
.artikel h1 {
	font-family: sans-serif;
	text-align: center;
}
.artikel img{
	width: 100px;
	height: 200px;
	float: left;
	margin: 5px 5px 5px 5px;
}
.artikel p{
	font-family: sans-serif;
}


.artikel .aside{
	width: 300px;
	float: right;
	margin: 0px 10px 10px 10px;
	background-color: white;
}
.artikel .aside h3{
	color: orangered;
	font-family: 'Permanent Marker', cursive;
	font-size: 20pt;
}
.artikel .aside p{
	color: #483D8B;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 15pt;
}
.artikel .aside img{
	width: 80px;
	height: 80px;
	padding-top: 5%;
	padding-left: 35%;
	padding-right: 35%;
}
.artikel .aside h1{
	color: orangered;
	font-family: 'Permanent Marker', cursive;
}
.artikel .aside button{

	background-color: black;
	color: white;
	padding-left: 35%;
	padding-right: 35%;
	font-family: 'Quattrocento Sans', sans-serif;
}

.button{
	padding: 10px 24px;
	background-color: black;
	color: white;
}

.artikel .subartikel{
	width: 600px;
	float: left;
	margin: 0px 10px 10px 10px;
	background-color: white;
}
.artikel .subartikel li{
	margin: 0px 10px 10px 10px;
}
.artikel .subartikel a{
	color: grey;
}
.artikel .subartikel p{
	font-family: sans-serif;
	color: #483D8B;
	margin: 0px 20px 20px 20px;
	text-align: justify;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 15pt;

}
.artikel .subartikel h3{
	color: orangered;
	margin: 0px 20px 0px 20px;
	font-family: 'Permanent Marker', cursive;
	font-size: 20pt;
}


.foot {
	width: 1100px;
	height: 30px;
	background-color: black;
		margin: 0px 10px 10px 0px;
		text-align: end;
	
}
.foot p{
	font-family: sans-serif;
	color: white;
	margin: 0 0 0 10px;
}